/*------------------------------------*\
    _breadcrumbs.scss
\*------------------------------------*/
/**
 *
 * styling basic breadcrumb element
 * =breadcrumbs........base breadcrumbs
 *
 */

/**
* =breadcrumbs
*/
.breadcrumbs {
	/*ol*/.breadcrumb {
		@extend .extd-naked;
	}
	/* mediaqueries */
	@include media-query(desk) {
		.breadcrumb {
			padding:0;
		}
	}
	@include media-query(lap) {
		.breadcrumb {
			padding:0;
		}
	}
	@include media-query(palm) {
		.breadcrumb {
			padding:0 0 0 10px;
		}
	}
}
