/*------------------------------------*\
    _sitemap.scss
\*------------------------------------*/
/**
 *
 * styling the sitemap element
 * =sitemap......base sitemap
 *
 */

/**
* =sitemap
*/
.sitemap {
	@extend .extd-naked;
	li {
		text-align:left;
		a {
			@extend .avenir-roman;
			@include font-size(14px);
			color:$white;
			line-height:normal;
			text-decoration:none;
			&:hover {
				color:$grey;
			}
			&.selected {
				color:$grey;
				text-decoration:underline;
			}
		}
	}
	/* mediaqueries */
	@include media-query(desk) {
		padding:20px 0 10px 0;
	}
	@include media-query(lap) {
		padding:20px 0 10px 0;
	}
	@include media-query(palm) {
		padding:10px 0 10px 10px;
	}
}
